:root {
  --g-svg-container-color: var(--color-surface-container-low);
  --g-sidebar-tab-color: var(--color-surface-container-high);
  --g-sidebar-tab-select-color: var(--color-on-surface);
  --g-sidebar-panel-color: var(--color-surface-container-high);

  --g-menu-font-family: var(--body-medium-font);
  --g-menu-font-size: var(--body-medium-size);
  --g-menu-font-weight: var(--body-medium-weight);
  --g-menu-line-height: var(--body-medium-line-height);
  --g-menu-letter-spacing: var(--body-medium-tracking);
  --g-menu-color-surface: var(--color-surface-container-highest);
  --g-menu-color-on-surface: var(--color-on-surface);
  --g-menu-item-meta-color: var(--color-outline);
  --g-menu-color-hover: var(--color-outline-variant);

  // --g-form-builder-color: var(--color-surface-container-high);
}
