:root {
  --g-svg-container-color: var(--color-surface-container-low);

  --g-sidebar-tab-color: var(--color-surface-container-high);
  --g-sidebar-tab-select-color: var(--color-on-surface);
  --g-sidebar-panel-color: var(--color-surface-container-high);
}
