{
  "$schema": "https://json.schemastore.org/swcrc",
  "exclude": "node_modules",
  "minify": true,
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "decoratorMetadata": true,
      "decoratorVersion": "2022-03"
    }
  }
}
