#root {
    // position: relative;
    // width: 100dvw;
    // height: 100dvh;
    background-color: gray;
    border: none !important;
    box-shadow: none !important;
}

foreignObject {
    border: none !important;
    box-shadow: none !important;
    overflow: visible;
    &:active {
        border: none !important;
        box-shadow: none !important;
    }
    &:hover {
        border: none !important;
        box-shadow: none !important;
    }
}