// @use "../../styles/adoptor/matrial-design-2.scss";
// @use "@material/list/mdc-list";
// @use "@material/menu-surface/mdc-menu-surface";
// @use "@material/menu";
// @use "@material/menu/mdc-menu";
// @use "@material/button/mdc-button";
// @use "@material/button";
// @import url("https://unicons.iconscout.com/release/v4.0.0/css/line.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:host {
  --menu-width: var(--g-menu-width, 300px);
  --menu-radius: var(--g-menu-radius, 0.3rem);
  --menu-item-height: var(--g-menu-item-height, 30px);
  --menu-padding: var(--g-menu-padding, 1rem);
  --menu-icon-size: var(--g-menu-icon-size, 1rem);
  --menu-color-surface: var(--g-menu-color-surface, #333);
  --menu-color-on-surface: var(--g-menu-color-on-surface, #fff);
  --menu-item-meta-color: var(--g-menu-item-meta-color, #999);
  --menu-color-hover: var(--g-menu-color-hover, #444);
  --menu-item-grid-template-columns: calc(
      var(--menu-icon-size) + var(--menu-padding)
    )
    1fr 1fr;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

hr {
  margin-inline: 0.1rem;
  margin-block: 0.2rem;
  background-color: var(--menu-item-meta-color);
  height: 0.01rem;
  border: 0;
}

#root {
  // visibility: hidden;
  display: none;
  position: absolute;
  padding-block: var(--menu-radius);
  // inset-block-start: 100px;
  // inset-inline-start: 100px;
  width: var(--menu-width);
  border-radius: var(--menu-radius);
  background: var(--menu-color-surface);
  color: var(--menu-color-on-surface);
  user-select: none;
}

.icon ::slotted(svg) {
  width: var(--menu-icon-size);
  fill: var(--menu-color-on-surface);
}

.text {
  text-align: start;
}

.hint {
  text-align: end;
  color: var(--menu-item-meta-color);
}

.item {
  position: relative;
  display: grid;
  grid-template-columns: var(--menu-item-grid-template-columns);
  height: var(--menu-item-height);
  cursor: pointer;
  align-items: center;
  padding-inline: var(--menu-padding);

  &:hover {
    background: var(--menu-color-hover);
  }
}

li[data-disable="true"]:hover {
  background: var(--menu-color-surface);
  cursor: default;
}

li[data-disable="true"] {
  color: var(--menu-item-meta-color);
}

li[data-disable="true"] .icon ::slotted(svg) {
  fill: var(--menu-item-meta-color);
}
