@use 'base';

.tabs {
    position: absolute;
    background-color: var(--surface-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    &--dir-vertical {
        display: flex;
        flex-direction: column;
    }

    &--dir-horizontal {
        display: flex;
        flex-direction: row;
    }
}

// .tabs--dir-horizontal ::slotted(*) {
//     flex-grow: 1;
// }

// .tabs--dir-vertical ::slotted(*) {
//     flex-grow: 1;
// }