#root {
  position: absolute;
  inset-inline-start: 50%;
  inset-block-start: 50%;
  transform: translate(-50%, -50%);
}

#backdrop {
  display: none;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--color-surface-dim);
  opacity: 0;
}

#dialog {
  background-color: var(--color-surface-container-high);
  color: var(--color-on-surface);
  position: absolute;
  border-color: transparent;
  inset-inline-start: 0%;
  inset-block-start: 50%;
  transform: translate(0%, -50%);
  padding-inline: 0.7rem;
  padding-block-end: 0.5rem;
  padding-block-start: 2rem;
  border-radius: var(--border-corner-extra-large);
}

#body {
  min-width: 2rem;
  min-height: 0.9rem;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

#close {
  position: absolute;
  inset-block-start: 0.5rem;
  inset-inline-end: 0.5rem;
  background-color: transparent;
  border: transparent;
  outline-style: none;

  &:hover {
    opacity: var(--opacity-hover);
  }

  &:active {
    opacity: var(--opacity-active);
  }

  & svg {
    width: 20px;
    fill: var(--color-primary);
  }
}
