@use "@material/theme" with (
  $primary: #FEDBD0,
  $on-primary: #442C2E
);

@use '@material/button/mdc-button';
@use '@material/button';

.foo-button {
    // @include button.container-fill-color(darksalmon);
    // @include button.ink-color(red);
    --mdc-theme-primary: green;
    --mdc-theme-on-primary: yellow;
}
