@use "@material/theme" with (
  $primary: #fedbd0,
  $on-primary: #442c2e
);

@use "@material/button/mdc-button";
@use "@material/button";

.foo-button {
  // @include button.container-fill-color(darksalmon);
  // @include button.ink-color(red);
  --mdc-theme-primary: green;
  --mdc-theme-on-primary: yellow;
}
