html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font-weight:normal;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:normal;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
    width: 100%;
    margin-inline: auto;
    overflow: hidden;
    touch-action: manipulation;
    user-select: none;
    background-color: #808080;
}

:root {
    // --md-elevated-button-container-shape: 0px;
    // --md-elevated-button-label-text-font: system-ui;
    // --md-sys-color-surface-container-low: #FAFDFC;
    // --md-sys-color-primary: #191C1C;

    // --g-sidebar-panel-color: green;
    // --g-sidebar-tab-select-color: yellow;
    // --g-sidebar-tab-size: 40px;
    // --g-sidebar-panel-height: 100px;
}

.fontSizeSmall {
    width: 30rem;
    height: 10rem;
    background-color: red;
}

// div[is='g-sidebar'] {
//     div[name='menu'] {
//         cursor: pointer;
//     }
// }

.name {
    color: yellowgreen !important;
}

:root {
    // --g-window-width: 400px;
    // --g-window-height: 400px;
}