:host {
  --form-builder-color: var(--g-form-builder-color, #888800);
}

#body {
  fill: var(--form-builder-color);
}

#modal {
  --g-modal-dialog-width: 85dvw;
  --g-modal-dialog-height: 85dvh;
}

#forms {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tab-panel {
  overflow: auto;
}

.item {
  width: 100%;
  margin-block: 1px;
}

.checkbox-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.7rem;
  padding: 0.4rem;
}

.checkbox-label {
  padding: 0px;
  margin-block-start: 0px;
  margin-block-end: 5px;
  font-size: large;
}
.checkbox-item {
  margin-inline: 3px;
}

.radiobox-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.7rem;
  padding: 0.4rem;
}

.radiobox-label {
  padding: 0px;
  margin-block-start: 0px;
  margin-block-end: 5px;
  font-size: large;
}

.radiobox-item {
  margin-block-end: 3px;
}
